<div id="contact-container">
  <div class="text-container">
  <h3 class="mb-5">Get in touch</h3>
    <div class="form__wrapper">
    <%= simple_form_for(@contact, url: contact_path, method: :post, remote: true, wrapper: :horizontal_form, defaults: { input_html: { class: 'form__defaults--input' }, label_html: { class: 'form__defaults--label' } }) do |f| %>
      <%= f.input :name %>
      <%= f.input :email, required: true, placeholder: "user@domain.com", input_html: { autocomplete: 'email' } %>
      <%= f.input :message, as: :text, required: true, error: 'A message is required', input_html: { 'rows': 5 } %>
      <%= f.button :submit, "Send email", class: "btn btn-primary mt-3 text-white form__defaults--btn" %>
    <% end %>
    </div>
  </div>
</div>