<!DOCTYPE html>
<html>
  <head>
    <title>Clare's Cakes</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Lateef&display=swap" rel="stylesheet">
  <%# <% unless @hide_navbar %>
  <%#  <%= render 'shared/navbar' %>
  <%# <% end %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <div>
  <% unless @hide_footer %>
    <%= render 'shared/footer' %>
  </div>
  <% end %>
  </body>
</html>
